<h1>Upload / Replace Logo</h1>

<h2>Current Logo</h2>

<% if @logo.image.attached? %>
  <%= image_tag @logo.image, style: "max-width: 200px;" %>
<% else %>
  <p>No logo uploaded yet.</p>
<% end %>


<%= form_with model: @logo, url: logo_path, local: true, multipart: true do |form| %>

  <div class="file-upload-row">
    <%= form.file_field :image,
          class: "file-input sb-btn sb-btn--upload mt-3",
          accept: "image/*" %>
  </div>

  <br>

  <%= form.submit "Save Logo", class: "sb-btn sb-btn--success" %>

<% end %>
<hr>

