<% content_for :title, "Editing product" %>

<h1>Editing Product</h1>

<%= render "form", product: @product %>

<br>

<div>
  <%#= link_to "Show this product", @product, class: "sb-btn mt-3" %>
  <%= link_to "Back to products", products_path, class: "sb-btn  mt-3" %>
</div>
